.gjs-block-category {
    .gjs-title {

        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        color: #000;
        margin: 2%;
        height: 100px;
        background-color: beige;

        .gjs-caret-icon {
            display: none;
        }

    }
}

.gjs-one-bg {
    background-color: white;
}
.gjs-two-color {
    color: black;
}

.gjs-selected {
    outline: none;
}
