.editor-container {
    display: flex;
   
}

.sidebar {
    position: relative;
    width: 20px;
    height: 100vh;
    padding: 20px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;

}

.icons {
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.menubar {
    position: absolute;
    left: 104%;
    top: 6%;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    z-index: 10;
    background-color: wheat;
    width: 700px;
    height: 80%;
}

.layers {
    position: absolute;
    left: 104%;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
    top: 18%;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    z-index: 10;
    background-color: wheat;
    width: 300px;
    height: 57%;
}


.header-layer {

    display: flex;
    padding-left: 4%;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.gjs-layer {
    font-weight: lighter;
    text-align: left;
    position: relative;
    width: 272px;
    background-color: rgba(0, 0, 0, .1);
    font-size: .75rem;
    display: grid;
}

.layers-text {
    font-size: 20px;
}

.menubar-topbar {
    width: 100%;
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 1px 9px 0px;
    align-items: center;
    height: 6%;
    background-color: wheat;
}

.blocks {
    display: flex;
    justify-content: space-around
}

.show {
    display: none;
}

.showlayers {
    display: none;
}

.block-list {
    background-color: white;
    padding: 2%;
    width: 60%;
    height: 735px;
}

.blocklist-name {
    cursor: pointer;
}

.sub-block {
    display: flex;
}

.sub-block-type {

    padding: 2%;
    height: 735px;
    width: 100%;
}

.category {
    width: auto;
    height: auto;
    padding: 2%;
    cursor: pointer;
}

.category:hover {
    background-color: rgb(128, 146, 146);
}

.selected {
    background-color: rgb(128, 146, 146);
}

.subcat {

    width: auto;
    height: auto;
    padding: 2%;
    cursor: pointer;
}

.subcat:hover {
    background-color: rgb(128, 146, 146);
}

.modal {
    background-color: beige;
    width: auto;
    height: auto;
    margin: 2%;
    padding: 2%;
    cursor: pointer;
}

/* 
.gjs-one-bg {
    background-color: transparent;
} */

.gjs-blocks-c {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.gjs-block {
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    width: 45%;
    min-width: 45px;
    padding: 1em;
    box-sizing: border-box;
    min-height: 90px;
    cursor: all-scroll;
    font-size: 11px;
    font-weight: lighter;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid rgba(0,0,0,.2); */
    border-radius: 3px;
    margin: 10px 2.5% 5px;
    /* box-shadow: 0 1px 0 0 rgb(0 0 0 / 15%); */
    transition: all .2s ease 0s;
    transition-property: box-shadow, color;
}

.gjs-pn-btn.fa.fa-th-large,
.gjs-pn-btn.fa.fa-bars {
    display: none;
}

.block-container {
    overflow: scroll;
    overflow-x: hidden;
    height: 70%;
}


.custom_traits_settings {
    position: relative;
}


.trait-container {
    position: absolute;
    left: 150px;
    overflow: scroll;
    overflow-y: hidden;
    cursor: move;
    overflow-x: hidden;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    z-index: 10;
    background-color: wheat;
    width: 300px;
    height: 404px;
}
