::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    width: 0px;
}

::-webkit-scrollbar {
    width: 0px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555;
    width: 0px;
}

.editor-container {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    position: relative;
}

.page-manager {
    background-color: #ffffff;
    position: absolute;
    padding: 0px;
    margin: 0px;
    border: 1px solid black;
    bottom: 0px;
    width: 97%;
    height: 11%;
    left: 60px;
}

.gjs-off-prv {
    position: relative;
    z-index: 10;
    left: 1642px;
    background-color: transparent;
    color: black;

    top: -37px;
    padding: 6px;
    cursor: pointer;
}

.page-container {
    width: inherit;
    height: inherit;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gjs-pn-options {
    right: -86%;
    background-color: transparent;
    top: -46px;
    color: black;
}

.editor {
    background-color: rgba(67, 65, 65, 0.549);
    display: flex;
}

.container {
    width: 100%;
    display: flex;
    margin-left: 3%;
    padding-left: 2%;
    margin-right: 3%;
    padding-right: 2%;
    align-items: center;
    justify-content: start;
}

.editor-name {
    margin-right: 3%;
}

.navbar-light {
    background-color: #ffffff;
    height: 50px;
    box-shadow: 0px 15px 10px -15px rgba(17, 17, 17, 0.418);
    display: flex;
    justify-content: center;
}

.sidebar {
    position: relative;
    width: 20px;
    /* height: 100vh !important; */

    padding: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
}

.gjs-one-bg {
    background-color: transparent;
}

.icons {
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.menubar {
    position: absolute;
    left: 104%;
    top: 6%;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    z-index: 10;
    background-color: white;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    width: 700px;
    height: 80%;
}

.layers {
    position: absolute;
    left: 104%;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
    top: 18%;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    z-index: 10;
    background-color: white;
    width: 300px;
    height: 57%;
}


.header-layer {

    display: flex;
    padding-left: 4%;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.gjs-layer {
    font-weight: lighter;
    text-align: left;
    position: relative;
    width: 272px;
    background-color: rgba(0, 0, 0, .1);
    font-size: .75rem;
    display: grid;
}

.layers-text {
    font-size: 20px;
}

.menubar-topbar {
    width: 100%;
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 1px 9px 0px;
    align-items: center;
    height: 6%;
    border-top-right-radius: 10px;
    background-color: white;
}

.blocks {
    display: flex;
    justify-content: space-around
}

.show {
    display: none;
}

.showlayers {
    display: none;
}

.block-list {
    background-color: white;
    padding: 2%;
    width: 60%;
    height: 735px;
}

.blocklist-name {
    cursor: pointer;
}

.sub-block {
    display: flex;
}

.sub-block-type {

    padding: 2%;
    height: 735px;
    width: 100%;
}

.category {
    width: auto;
    height: auto;
    padding: 2%;
    cursor: pointer;
}

.gjs-pn-buttons {
    display: none;
}

.editor-browser {

    width: 100%;
    margin: 1%;
}

.gjs-hoverd {
    border: none !important;
    outline: none !important;
}

.Browser-Header {
    width: 100%;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
    height: 79px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 0.2px solid rgba(118, 116, 116, 0.049);
    background-image: linear-gradient(180deg, rgba(223, 225, 229, 1) 1%, rgba(223, 225, 229, 1) 99%);
}

.content-actions {
    height: 35px;
    display: flex;
    width: 100%;
    align-items: center;
}

.category:hover {
    background-color: rgb(128, 146, 146);
}

.selected {
    background-color: rgb(128, 146, 146);
}

.subcat {

    width: auto;
    height: auto;
    padding: 2%;
    cursor: pointer;
}

.subcat:hover {
    background-color: rgb(128, 146, 146);
}

.modal {
    background-color: beige;
    width: auto;
    height: auto;
    margin: 2%;
    padding: 2%;
    cursor: pointer;
}

/* 
.gjs-one-bg {
    background-color: transparent;
} */

.gjs-blocks-c {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.gjs-block {

    user-select: none;
    width: 80%;
    height: auto !important;
    border: none;
    cursor: grabbing;
    background-color: transparent;
    font-size: 11px;
    font-weight: lighter;
    color: #000;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.gjs-block-label {

    width: auto !important;
    height: auto !important;
    padding: 0px !important;
}

.gjs-pn-btn.fa.fa-th-large,
.gjs-pn-btn.fa.fa-bars,
.gjs-pn-btn.fa.fa-cog,
.gjs-pn-btn.fa.fa-paint-brush {
    display: none;
}

.block-container {
    overflow: scroll;
    overflow-x: hidden;
    height: 100%;
}


.toolbar-parent {
    background-color: transparent;
    /* height: 10%; */
    border-radius: 10px;
    align-items: center;
    display: flex;
}

.gjs-pn-panel {
    position: relative;
}



.gjs-dashed {
    background-color: #f0f0e5;

}

.gjs-cv-canvas {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-style: none !important;
    border: none !important;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
    box-sizing: initial !important;
    overflow: hidden;
    top: 0;
}

.gjs-pn-commands {
    width: 85%;
    display: none;
    left: 0;
    top: 0;
    box-shadow: 0 0 5px rgb(0 0 0 / 20%);
}

.gjs-pn-views-container {
    height: 100%;
    padding: 42px 0 0;
    right: 0;
    width: 15%;
    overflow: auto;
    display: none;
    box-shadow: 0 0 5px rgb(0 0 0 / 20%);
}

.gjs-pn-devices-c {
    display: none;
}

.traitParent {
    position: fixed;
    left: 1229px;
    top: 268px;
    overflow: scroll;
    overflow-x: hidden;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    z-index: 10;
    background-color: white;
    width: 215px;
    height: 323px;
}

.styleParent {
    position: fixed;
    left: 109px;
    top: 261px;
    overflow-y: scroll;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    z-index: 10;
    background-color: white;
    width: 379px;
    height: 568px;
}

.traitParentheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}

.styleParentheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}

.gjs-toolbar {
    position: absolute;
    background-color: transparent;
    white-space: nowrap;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    z-index: 10;
    top: -51px !important;
    /* left: 498px !important; */
}

.gjs-toolbar>div {
    /* margin: 10%; */
    gap: 10px;
    display: flex !important;
    align-items: center !important;
    justify-content: space-around !important;
}

.gjs-toolbar-item {
    background-color: #f0f0e5;
    align-items: center !important;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.158);
    justify-content: center !important;
    display: flex !important;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

.gjs-trt-traits {
    background-color: white !important;
    color: #000 !important;
}

.gjs-trt-traits option {
    background-color: white;
    color: #000;

}

.gjs-sm-properties option {
    background-color: white;
    color: #000;
}

.gjs-sm-properties input {
    border: 0.5px solid rgba(0, 0, 0, 0.363);
    background-color: white;
    color: #000;

}

.gjs-sm-properties select {
    border: 0.5px solid rgba(0, 0, 0, 0.363);
    background-color: white;
    color: #000;

}

.gjs-sm-properties label {
    border: 0.2px solid rgba(0, 0, 0, 0.363);
    background-color: white;
    color: #000;

}


.gjs-sm-field.gjs-sm-stack {
    border: 0.5px solid rgba(0, 0, 0, 0.363);
    background-color: white;
    color: #000;
}

.gjs-sm-layers.gjs-field {

    background-color: white;
    color: #000;
}

.gjs-sm-layers.gjs-field {

    background-color: white;
    color: #000;
}

.gjs-sm-sector-title {
    background-color: white !important;
    color: #000 !important;
    border: none !important;
}

.gjs-sm-properties {
    background-color: white !important;
    color: #000 !important;
}

.gjs-blocks-cs {
    background-color: white !important;
}

.gjs-pn-views {
    display: none !important;
}

.gjs-field-arrows {
    background-color: rgba(0, 0, 0, 0.39) !important;
    position: absolute;
    cursor: ns-resize;
    margin: auto;
    height: 26px;
    width: 9px;
    z-index: 10;
    bottom: 0;
    right: 1px;
    top: 0;
}

.gjs-sm-sector.gjs-sm-open {
    border: none
}

#gjs-sm-add {
    color: #000 !important;
}

.panel__devices {
    display: flex;
    align-items: center;
    width: 10%;

    justify-content: space-between;
}

.panel__redo__undo {
    display: flex;
    align-items: center;
    width: 3%;

    margin-left: 3%;
    justify-content: space-between;
}

.actions-set {
    margin-left: 2%;
    display: flex;
    width: 4%;
    align-items: center;
    justify-content: space-between;
}

.address-header {
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
}

.actions-content {
    width: 5%;
    display: flex;
    margin-left: 1%;
    justify-content: space-between;
}

.Browser-Actions {
    box-shadow: 0px 0px 6px rgba(236, 109, 98, 1) inset;
    border-radius: 8px;
    border-style: solid;
    border-width: 0.5px;
    width: 12px;
    height: 12px;

}

.input-container {
    width: 90%;
    display: flex;
    align-items: center;
    height: 32px;
    border-radius: 14px;
    background-color: #F1F3F4;
}

.fa.fa-eye {
    margin-left: 1%;
    margin-right: 1%;
}

.address-input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
}

#grapesjs-container {
    height: 100%;
    width: 100%;
}




/*  

For Mobile Layout
@media screen and (min-height: 500px)
.om-mobile-frame-new {
    height: 425px;
    width: 212px;
}

.om-mobile-frame-new {
    background-image: url(../img/samsung.9620b070.svg);
    background-repeat: no-repeat;
    height: 615px;
    width: 308px;
    margin: 3.125rem auto;
    background-color: transparent;
    position: static;
    padding: 0.45rem;
}

*/